@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cor-principal: #ffffff;
    --cor-inicial: #7857ff;
    --cor-final: #2e2be9;
    --cor-gradiente: linear-gradient(var(--cor-inicial), var(--cor-final));
    --cor-score-text: hsl(221, 100%, 96%);
    --cor-escuro: black;
    --cor-botao: hsl(224, 30%, 27%);
    --fonte-principal: 'Hanken Grotesk', sans-serif;

    --opacidade-tabela: 0.1;
    --cor-vermelho-opac: 0, 100%, 67%;
    --cor-vermelho: hsl(0, 79%, 54%);
    --cor-amarelo-opac: 39, 100%, 56%;
    --cor-amarelo: hsl(39, 88%, 51%);
    --cor-verde-opac: 166, 100%, 37%;
    --cor-verde: hsl(166, 94%, 31%);
    --cor-azul-opac: 234, 85%, 45%;
    --cor-azul: hsl(234, 88%, 36%);

    --cor-sombra:hsla(241, 100%, 89%, 0.473);
}

body {
    background: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 18px;
    height: 100%;
    width: 100%;
  padding: 1em;
display: flex;
justify-content: center;
align-items: center;
}

/* xxxxxxxxx Pontuação xxxxxxxxx */

.container {
    height: 400px;
    width: 375px;
}

#score {
    height: 350px;
    width: 375px;
    border-radius: 0 0 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--cor-gradiente);
    color: var(--cor-score-text);
}

.score__resultado {
    font-weight: 500;
    margin-top: 20px;
}

.score__point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(rgba(78, 33, 202, 0.6), rgba(78, 33, 202, 0.1));
}

.score__point--part1 {
    color: var(--cor-principal);
    font-weight: 800;
    font-size: 60px;
}

.score__point--part2 {
    font-weight: 500;
    font-size: 0.9em;
    opacity: 0.5;
}

.score__texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.score__texto--titulo {
    font-size: 24px;
    font-weight: 700;
}

.score__texto--detalhe {
    font-size: 16px;
    margin: 10px;
    margin-bottom: 25px;
    opacity: 0.8;
}

/* xxxxxxxxx Tabela xxxxxxxxx */

.summary {
    color: var(--cor-escuro);
}

.summary__tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.summary__titulo {
    font-weight: 700;
    margin: 1.5em 0 1.5em 0.8em;
    font-size: 1.2em;
}

.summary__pontuacao {
    font-weight: 700;
    margin-right: 20px;
}

.summary__pontuacao .porcentagem {
    opacity: 0.4;
}

/* xxxxxxxxx Tabela - 01 xxxxxxxxx */

.summary__tabela--01 {
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(var(--cor-vermelho-opac), var(--opacidade-tabela));
    border-radius: 10px;
}

.summary__tabela--01 img {
    margin: 0 10px 0 10px;
}

.summary__t01 {
    display: flex;
    align-items: center;
    color: var(--cor-vermelho);
    font-weight: 700;
    font-size: 16px;
}

/* xxxxxxxxx Tabela - 02 xxxxxxxxx */

.summary__tabela--02 {
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(var(--cor-amarelo-opac), var(--opacidade-tabela));
    border-radius: 10px;
}

.summary__tabela--02 img {
    margin: 0 10px 0 10px;
}

.summary__t02 {
    display: flex;
    align-items: center;
    color: var(--cor-amarelo);
    font-weight: 700;
    font-size: 16px;
}

/* xxxxxxxxx Tabela - 03 xxxxxxxxx */

.summary__tabela--03 {
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(var(--cor-verde-opac), var(--opacidade-tabela));
    border-radius: 10px;
}

.summary__tabela--03 img {
    margin: 0 10px 0 10px;
}

.summary__t03 {
    display: flex;
    align-items: center;
    color: var(--cor-verde);
    font-weight: 700;
    font-size: 16px;
}

/* xxxxxxxxx Tabela - 04 xxxxxxxxx */

.summary__tabela--04 {
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(var(--cor-azul-opac), var(--opacidade-tabela));
    border-radius: 10px;
}

.summary__tabela--04 img {
    margin: 0 10px 0 10px;
}

.summary__t04 {
    display: flex;
    align-items: center;
    color: var(--cor-azul);
    font-weight: 700;
    font-size: 16px;
}

/* xxxxxxxxx Botão xxxxxxxxx */

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn__efeito {
    height: 60px;
    width: 320px;
    border-radius: 30px;
    color: var(--cor-score-text);
    background: var(--cor-botao);
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    border: none;
}

.btn__efeito:hover {
    background: var(--cor-gradiente);
}

/* xxxxxxxxx Rodapé xxxxxxxxx */

.attribution {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
}


/* xxxxxxxxx Responsivo 1440px xxxxxxxxx */

@media (min-width: 1440px) {

    .summary {
        grid-area: summary;
        padding-right: 40px;
    }

    .btn {
        grid-area: btn;
        padding-right: 40px;
    }

    .attribution {
        grid-area: attribution;
        padding-right: 40px;
        padding-bottom: 15px;
    }

    #score {
        grid-area: score;
        height: 500px;
        width: 400px;
        border-radius: 10% 10% 10% 10%;
    }

    .score__point {
        height: 220px;
        width: 220px;
        gap: 0px;
    }

    .score__resultado {
        font-size: 24px;
    }

    .score__point--part1{
        font-size: 80px;
    }

    .score__texto--titulo{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .container {
        display: grid;
        grid-template:
            'score summary'
            'score summary'
            'score btn'
            'score attribution';
            box-shadow: 30px 30px 50px 0px var(--cor-sombra);
            border-radius: 50px;
            height: 500px;
            width: 800px;
    }
}